{{#if this.isRegion}}
  <li class="w-full flex flex-col item-{{@item.id}}">
    <Disclosure
      @open={{this.handleOpen}}
      @close={{this.handleClose}}
      @isOpen={{this.isOpen}}
    as |disclosure|>
      <disclosure.Button data-test-list-item-map-button={{@item.id}}
        class="h-full px-2 space-x-2 hover:bg-slate-200 text-left
        text-xl font-bold
        bg-white">
        <div class="flex flex-row justify-between">
          <div class="flex-grow">
              {{if
                (get @item.elementTexts "short name")
                (get @item.elementTexts "short name")
                (get @item.elementTexts "DCtitle")
              }}
            <span class="font-normal text-base">
              ({{@item.startYear}}–{{if @item.stillActive "present" @item.endYear}})
            </span>
          </div>
          <div>
            {{#if disclosure.isOpen}}
              {{svg-jar "caret-up" class="w-[1.5rem]"}}
            {{else}}
              {{svg-jar "caret-down" class="w-[1.5rem]"}}
            {{/if}}
          </div>
        </div>
      </disclosure.Button>
      <disclosure.Panel
        class="border-t-primary border-t-2
        py-2 px-4
        w-full bg-gray-100"
          {{css-transition
            enterClass="opacity-0, max-h-0"
            enterActiveClass="transition-all duration-500 ease-in-out"
            enterToClass="opacity-100 max-h-60"
            leaveClass="opacity-100 max-h-60"
            leaveActiveClass="transition-all duration-500 ease-in-out"
            leaveToClass="opacity-100 max-h-0"
          }}
        >
        <div class="prose">
          <h2>{{get @item.elementTexts "DCtitle"}}</h2>

          <div class="flex flex-row justify-end">
            <button
              class="bg-[#a11d21] text-white hover:text-slate-100 hover:shadow-lg rounded px-4" type="button" {{on "click" (if this.isZoomed this.recenter this.flyTo)}}>
              {{if this.isZoomed "Recenter Map" "Zoom to Institution"}}
            </button>
          </div>

          <p>(date): {{get @item.elementTexts "DCdate"}}</p>

          <p>(subject): {{get @item.elementTexts "DCsubject"}}</p>
          <p>(source): {{get @item.elementTexts "DCsource"}}</p>
          <p>(publisher): {{get @item.elementTexts "DCpublisher"}}</p>
          <p>(contributor): {{get @item.elementTexts "DCcontributor"}}</p>
          <p>(rights): {{get @item.elementTexts "DCrights"}}</p>
          <p>(format): {{get @item.elementTexts "DCformat"}}</p>
          <p>(language): {{get @item.elementTexts "DClanguage"}}</p>
          <p>(type): {{get @item.elementTexts "DCtype"}}</p>
          <p>(identifier): {{get @item.elementTexts "DCidentifier"}}</p>

          <hr/>

          {{markdown-to-html (get @item.elementTexts "DCdescription")}}

          <p class="text-right">{{get @item.elementTexts "DCcreator"}}</p>

          {{#if (get @item.elementTexts "DCrelation")}}
            {{html-safe (get @item.elementTexts "DCrelation")}}
          {{/if}}
        </div>
        <button data-test-list-item-map-button={{@item.id}}
          class="h-full px-2 space-x-2 hover:bg-slate-200 text-left
          text-xl font-bold
          bg-white"
          {{on "click" this.handleClose}}>
          Close
        </button>

      </disclosure.Panel>
    </Disclosure>
  </li>
{{/if}}