  <li class="w-full flex flex-col">  
    <Disclosure 
      @close={{this.handleClose}}
      @isOpen={{this.isOpen}}
    as |disclosure|>
      <disclosure.Button data-test-list-item-map-button={{@record.id}}
        class="h-full px-2 space-x-2 hover:bg-slate-200 text-left 
        text-xl font-bold
        bg-white">
        <div class="flex flex-row justify-between">
          <div class="flex-grow">
          {{@record.itemTitle}} 
            <span class="font-normal text-base">({{@record.afterDate}}–{{if @record.beforeDate @record.beforeDate "present"}})</span>
          </div>
          <div>
            {{#if disclosure.isOpen}}
              {{svg-jar "caret-up" class="w-[1.5rem]"}}
            {{else}}
              {{svg-jar "caret-down" class="w-[1.5rem]"}}
            {{/if}}
          </div>
        </div>
      </disclosure.Button>
      <disclosure.Panel
        class="border-t-primary border-t-2 
        py-2 px-4
        w-full bg-gray-100" 
          {{css-transition
            enterClass="opacity-0, max-h-0"
            enterActiveClass="transition-all duration-500 ease-in-out"
            enterToClass="opacity-100 max-h-60"
            leaveClass="opacity-100 max-h-60"
            leaveActiveClass="transition-all duration-500 ease-in-out"
            leaveToClass="opacity-100 max-h-0"
          }}
        >
        <div class="prose">
          {{markdown-to-html this.item.elementTexts.DCdescription}}

          <p class="text-right">{{this.item.elementTexts.DCcreator}}</p>

          {{#if this.item.elementTexts.DCrelation}}
            {{html-safe this.item.elementTexts.DCrelation}}
          {{/if}}
        </div>
      </disclosure.Panel>
    </Disclosure>
  </li>
