<div class="w-full timeline" ...attributes>
<div class="overflow-x-auto w-full h-full timeline-scroll-container"
  {{on-resize this.calculateTimelineSvgSize}} 
  {{on "scroll" this.scrollFilter}}
  >
  <svg class="timeline-svg panable cursor-ew-resize" width={{this.svgWidth}} height={{this.svgHeight}}>
    <g class="panable">
      <g class="timeline-entries"
        transform={{concat
        "translate(" 
        this.margins.left
        ", "
        this.margins.top
        ")"
        }}>
        {{#let (div
          (sub this.svgHeight 
            (add this.margins.top this.margins.bottom)
          )
          12
          ) as |elementHeight|}}
          {{#each this.records as |record index|}}
            <g class="timeline-entry"
              transform={{concat 
                "translate(" 
                (this.scale record.numAfterDate)
                ", "
                (this.bandScale (mod index 8))
                ")"
                }}
                >
                {{#if record.numBeforeDate}}
                  <rect 
                    class="timeline-marker {{record.itemTitle}}"
                    width={{sub (this.scale record.numBeforeDate)
                      (this.scale record.numAfterDate)}}
                    height={{elementHeight}}
                    x="0"
                    y={{div elementHeight -2}}
                    />
        

                {{else}}
                <circle 
                  r={{div elementHeight 2}}
                  class="timeline-marker {{record.itemTitle}}"
                  cx="0"
                  cy="0"
                  />
                {{/if}}
                  <text
                    style="font-size: {{mult elementHeight 0.5 }}px;"
                    y={{sub (div elementHeight 2) (mult elementHeight 0.25)}}
                    x={{elementHeight}}>
                      {{if record.title record.title record.itemTitle}}
                  </text>
            </g>
          {{/each}}
        {{/let}}
      </g>

      <Timeline::Scale @scale={{this.scale}} 
        @ticks={{this.ticks}}
        transform={{concat "translate(" this.margins.left "," (sub this.svgHeight 20) ")"}}

      margins={{this.margins}}/>
    </g>
  </svg>
</div>
</div>
